/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

#verification_subtext {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}

.code-container {
    display: flex;
    justify-content: center;
}

.code {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    border: 1px solid #ccc;
}

